html {
    background-color: #001219;
    font-family: 'Roboto Slab';
}

h1 {
    font-family: 'Lobster';
    font-size: 60px;
    color: #BB3E03;
    text-align: center;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #CA6702;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}

table {
    background-color: #264653;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-style: solid;
    border-width: 4px;
    border-collapse: collapse;
}

th {
    font-size: 20px;
    font-weight: 700;
    color: #F4A261;
}

td {
    font-size: 15px;
    color: #E9D8A6;
    border-style: solid;
    border-width: 2px;
}

th, td {
    padding: 5px;
    text-align: center;
}

span, .tag {
    font-family: 'Ubuntu Mono';
}

